@font-face {
  font-family: "iconfont"; /* Project id 3344178 */
  src: url('iconfont.woff2?t=1651932780598') format('woff2'),
       url('iconfont.woff?t=1651932780598') format('woff'),
       url('iconfont.ttf?t=1651932780598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang1:before {
  content: "\e63d";
}

.icon-xiayishou:before {
  content: "\e647";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-erji:before {
  content: "\e66b";
}

.icon-jia:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e624";
}

