.side-bar{
  width: 225px;
  height: 490px;
  padding: 10px;
  margin:  17px 5px;
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  .side-bar-content{
    width:97%;
    height: 85px;
    background:  #f4f4f4;
    margin-top: 15px;
    .side-bar-item{
      text-align: center;
      display: flex;
      .side-text{
        flex: 1;
        height: 85px;
        width: 135.84px;
        float: right;
        font-size: 10px;
        background: transparent;
        padding: 10px;
        color:#595959;
        border: 1px solid #e9e9e9;
        cursor: pointer;
        p{
          width: 100%;
        }
      }
      .side-text:hover{
        color:#222;
        background: rgba(0,0,0,0.05);
      }
      .box{
        margin-top: 9px;
        width: 65px;
        height: 65px;
        position: relative;
        overflow: hidden;
        border: 1px solid #e9e9e9;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }

  }
  .side-bar-content:hover{
    background:whitesmoke;
  }
  .in-line{
    margin-top: 6px;
    width:50px;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
}


