.singerWrap{
  width: 962px;
  height: 1420px;
  margin: 0px auto;
  background: #fafafa;
  border-left: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);

  .singer_info{
    margin-top: 110px;
    width: 290px;
    height: 200px;

    float:left;
    .singer_image{
      width: 250px;
      height: 120px;

      margin-left: 20px;
      margin-top: 20px;
      img{
        width: 250px;
        height: 250px;
      }
      .singer_fans{
        text-align: center;
        font-style: italic;
        margin-top: 13px;
        img{
          width:16px;
          height:16px;
          margin-right: 4px;

        }
      }
    }
    .singer_name{
      text-align: center;
      font-style: normal;
      font-size: large;
    }
  }
  .album-playlist{
    margin-top: 20px;
    width: 670px;
    height: 500px;

    float:left;


    .playlist{
      width: 100%;
      margin: auto;
      padding: 15px;
      .playlist-item{
        line-height: 40px;
        display: flex;
        border-bottom: 1px solid #eee;
        .no{
          width: 50px;
          text-align: center;
          margin: 10px 10px auto;
        }
        .name{
          width: 330px;
          margin: 10px 10px auto;
        }
        .singer{
          text-align: center;
          width: 150px;
          align-content: center;
          margin: 10px auto;

        }
        .play{
          flex: 1;
          height: 60%;
          width: 100%;
          align-content: center;
          background: #9b0909;
          border-radius:50px/30px;
          color:white;
          text-align: center;
          margin-bottom: 5px;
          margin-top: 10px;
          margin-left: 20px;
        }
        .play:hover{
          color:dimgray;
        }
      }
    }
  }
  .singer-simi{
    clear: both;
    width: 30%;
    height: 60%;


    .singer-item{
      width: 100%;
      height: 100%;
      margin-top: 18px;
      margin-left: 35px;
    }
  }



}
